.custom-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size:14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.custom-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border:1px solid #333; 
}



/* When the checkbox is checked, add a blue background */
.custom-checkbox input:checked ~ .checkmark {
  background-color: #fff;
      border: 1px solid #333;
}

/* Create the checkmark/indicator (hidden when not checked) */
.custom-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #333;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}




.admin-logo img{
    height: 50px;
}

.header-dropdown{
    position: absolute;
    transform: translate3d(-91px, 26px, 0px)!important;
    top: 0px;
    left: 0px;
    will-change: transform;
    right: 0!important;
}

.header-dropdown a{
    border-bottom: 1px solid #ddd;
}

.header-dropdown a{
    border-bottom:none;
}

.main-section{
    display: flex;
}

.admin-main-section{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/*start custom form attribut field*/
.btn , .btn:hover , .btn:focus{
    box-shadow: 0 0 0;
}
.required{
    color: #dc3545;
}
input , input:hover , input:focus{
    box-shadow: 0 0 0!important;
    border: 1px solid #ced4da;
    outline: none;
    /*height: 50px!important;*/
}
.wdinput label{
    font-weight: 600;
}

textarea , textarea:hover , textarea:focus{
    box-shadow: 0 0 0!important;
    border: 1px solid #ced4da;
    outline: none;
}
select , select:hover, select:focus{
    box-shadow: 0 0 0!important;
    border: 1px solid #ced4da;
    outline: none;
    
}
.wdinput .dropdown {
    border: 1px solid #ced4da!important;
    width: 100%!important;
    background-color: #fff!important;
    color: #495057!important;
}

.wdinput  .dropdown button{
background-color: #fff!important;
color: #495057!important;
}
/*end custom form attribut field*/

/*start here product details*/
.product-details-information{
    display: flex;
}
.product-detail-main{
    width: 100%;
    
}
.product-detail-sidebar{
    width: 30%;
    margin-left:10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: #f5f5f5;  
    padding: 10px;

    
}
.product-detail-row{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: #f5f5f5;  
}

/*start here product img*/
.preview-images-zone {
    width: 100%;
    border: 1px solid #ddd;
    min-height: 180px;
    /* display: flex; */
    padding: 5px 5px 0px 5px;
    position: relative;
    overflow:auto;
}

.preview-images-zone > .preview-image {
    height: 150px;
    width: 150px;
    position: relative;
    margin-right: 5px;
    float: left;
    margin-bottom: 5px;
}
.preview-images-zone > .preview-image > .image-zone {
    width: 100%;
    height: 100%;
}
.preview-images-zone > .preview-image > .image-zone > img {
    width: 100%;
    height: 100%;
}
.preview-images-zone > .preview-image > .tools-edit-image {
    position: absolute;
    z-index: 100;
    color: #fff;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    display: none;
}
.preview-images-zone > .preview-image > .image-cancel {
    font-size: 18px;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    margin-right: 10px;
    cursor: pointer;
    display: none;
    z-index: 100;
}
.preview-image:hover > .image-zone {
    cursor: move;
    opacity: .5;
}
.preview-image:hover > .tools-edit-image,
.preview-image:hover > .image-cancel {
    display: block;
}
.ui-sortable-helper {
    width: 90px !important;
    height: 90px !important;
}

.image-cancel{
    color: #dc3545;
    background-color: #fff;
    padding:5px;
    border-radius: 5px;
    font-weight: 700;
}


/*end here product img*/

.day-step{
box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;    
}

/*end here product details*/

#dayAccordion h5 button{
  color: #333;
    font-weight: 600;
    display: block;
    width: 100%;
    text-align: left;
    text-decoration: none;
}

#dayAccordion .card-header{
    padding-left: 0px;
}

#dayAccordion .card-header:hover{
    background-color: #ddd;
}

#dayAccordion .card{
    padding: 10px;
}

.open li{
    background-color: #f5f5f5;
}

.open li ul li{
    background-color: #fff;
}
.das-card-body{
    text-align: center;
  
}

.das-card-body span{
    font-size: 16px;
    font-weight: bold;
}

.das-card-body i , .das-card-body svg{
    font-size: 30px;
    color: #007bff!important;
    margin-bottom: 10px;
    display: block;
}



.content-wrapper .btn {
    border-radius: 10px;
}

.category-scroll{
    scrollbar-width: thin;
}

